<h1>Access denied</h1>

<p>You typed: <%= @login%></p>
<p>You typed: <%= @password%></p>

<form action="/" method="POST">
    <input type="text" name="aaa" />
    <br>
    <br>
    <input type="password" name="bbb" />
    <input type="submit" value="Зарегестрироваться"/>
</form>